# OS
.DS_Store

# Python
*.py[co]
*.pyd

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg


# steve
settings/__init__.py

# Common IDEs
.idea/
*.swp
*.elc
*.orig
*.rej
*~
*.bak
*.prof

# liubo
.emacs*
*.el
.ropeproject/
fabfile.py
fabvars.py
debug.py
s3on.py
.#*

# Project
venv/
run/
data/
src/meme/settings/__init__.py
