{% extends 'base.html' %}
{% load staticfiles %}
{% block body_wrap %}
    <div class="page">
        <div class="page-region">
            <div class="page-region-content">
                <div class="grid bg-color-green fg-color-white" style="margin-bottom: 0">
                    <div class="row">
                        {% if user.plat.name != 't' and user.plat.name != 's' %}
                        <div class="span3">
                            <div class="padding20">
                                <a href="{% url 'user.views.account' %}"><h3 class="fg-color-white"><i class="icon-arrow-right-3"></i>个人信息</h3></a>
                                <a href="{% url 'user.views.change_password' %}"><h3 class="fg-color-red"><i class="icon-arrow-down-3"></i>修改密码</h3></a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="span9" style="margin-top: 5px;">
                            <div class="padding20" {% if user.plat.name != 't' and user.plat.name != 's' %}style="border-left: 1px solid #ccc;"{% endif %}>
                                <h2 class="fg-color-white">修改密码</h2>
                                {% if success %}
                                <div class="notices">
                                    <div class="bg-color-green">
                                        <div class="notice-icon"><img src="{% static 'images/shield-user.png' %}"></div>
                                        <div class="notice-image"><img src="{% static 'images/armor.png' %}"></div>
                                        <div class="notice-header fg-color-white">修改成功！</div>
                                        <div class="notice-text">请妥善保管好您的密码及个人信息</div>
                                    </div>
                                </div>
                                {% else %}
                                <form action="" method="post">{% csrf_token %}
                                    <div>
                                        <label for="id_old_password">{{ form.old_password.label }}:</label>
                                        {{ form.old_password }}
                                        {{ form.old_password.errors }}
                                        <div style="clear: both"></div>
                                    </div>
                                    <div>
                                        <label for="id_new_password">{{ form.new_password.label }}:</label>
                                        {{ form.new_password }}
                                        {{ form.new_password.errors }}
                                        <div style="clear: both"></div>
                                    </div>
                                    <div>
                                        <label for="id_repeat_password">{{ form.repeat_password.label }}:</label>
                                        {{ form.repeat_password }}
                                        {{ form.repeat_password.errors }}
                                        <div style="clear: both"></div>
                                    </div>
                                    <button class="image-button bg-color-red fg-color-white">
                                        保存
                                        <i class="icon-save"></i>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_wrap %}
<style>

</style>
{% endblock %}