{% extends 'base.html' %}
{% load staticfiles %}
{% block body_wrap %}
<div class="page">
    <div class="page-region">
        <div class="page-region-content">
            <div>
                <a href="" style="float: left; height: 29px; line-height: 29px;">首页</a>
                <span style="float: left; height: 29px; line-height: 29px;">&nbsp;&gt;&nbsp;</span>
                <h2 style="float: left;">{{ product.title }}</h2>
                <div style="clear: both;"></div>
            </div>
            <div class="grid">
                <div class="row detail-body">
                    <div class="span8">
                        <div class="padding5 bg-color-lighten">
                            <img src="{{ product.cover.url }}" alt="{{ product.title }}"/>
                        </div>
                        <div class="padding5 bg-color-green" style="margin-top: 10px;">

                        </div>
                    </div>
                    <div class="span4">
                        <p>
                            分类：
                            {% for c in product.category.all %}
                            <a href="{% url 'product.views.category' c.id %}" target="_blank">{{ c.name }}</a>
                            {% endfor %}
                        </p>
                        <p style="word-wrap: break-word;">{{ product.content }}</p>
                        <button class="image-button bg-color-green fg-color-white">赞(<span id="vote_up_count">{{ product.vote_up }}</span>)<i class="icon-thumbs-up"></i></button>
                        <button class="image-button bg-color-pink fg-color-white">踩(<span id="vote_down_count">{{ product.vote_down }}</span>)<i class="icon-thumbs-down"></i></button>
                        <p class="bg-color-red fg-color-white padding5">扫描二维码，发送给朋友</p>
                        <img src="{% url 'product.views.qr' %}?url={% url 'product.views.product' product.id %}">
                        <div class="padding5 bg-color-pink fg-color-white">
                            <div class="padding5">这里去吃↓</div>
                            <div id="map" style="height: 300px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script_wrap %}
<script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
<script type="text/javascript">
    var hasVote = false;
    var voteUpCount = $("#vote_up_count");
    var voteDownCount = $("#vote_down_count");
    var voteClass = 'fg-color-yellow';
    $(function(){
        $.get("{% url 'product.views.product_info' product.id %}", function(result){
            if(result.status == 1){
                voteUpCount.html(result.data.statistic.u);
                voteDownCount.html(result.data.statistic.d);
                if(result.data.vote_up){
                    voteUpCount.parent().children().last().addClass(voteClass);
                    hasVote = true;
                    voteUpCount.parent().bind('click', voteCancel);
                }
                if(result.data.vote_down){
                    voteDownCount.parent().children().last().addClass(voteClass);
                    hasVote = true;
                    voteUpCount.parent().bind('click', voteCancel);
                }
            }
        });
        if(!hasVote){
            voteUpCount.parent().bind('click', voteUp);
            voteDownCount.parent().bind('click', voteDown);
        }
    });
    function vote(v){
        $.get("{% url 'product.views.vote' product.id %}"+v, function(result){
            if(result.status == -1){
                loginDialog(result.url);
            }
            return result.status == 1;
        });
        return false;
    }
    function voteUp(){
        var v = 'u';
        if(vote(v)){
            voteUpCount.parent().unbind('click', voteUp);
            voteUpCount.parent().bind('click', voteCancel);
            var count = parseInt(voteUpCount.html()) + 1;
            voteUpCount.parent().children().last().addClass(voteClass);
            voteUpCount.html(count);
        }
    }
    function voteDown(){
        var v = 'd';
        if(vote(v)){
            voteDownCount.parent().unbind('click', voteDown);
            voteDownCount.parent().bind('click', voteCancel);
            var count = parseInt(voteDownCount.html()) + 1;
            voteDownCount.parent().children().last().addClass(voteClass);
            voteDownCount.html(count);
        }
    }
    function voteCancel(){
        var v = 'c';
        if(vote(v)){
            voteUpCount.parent().unbind('click', voteCancel);
            voteDownCount.parent().unbind('click', voteCancel);
            if(voteUpCount.parent().children().last().hasClass(voteClass)){
                voteUpCount.parent().children().last().removeClass(voteClass);
                voteUpCount.html(parseInt(voteUpCount.html()) - 1);
            }
            if(voteDownCount.parent().children().last().hasClass(voteClass)){
                voteDownCount.parent().children().last().removeClass(voteClass);
                voteDownCount.html(parseInt(voteDownCount.html()) - 1);
            }
            voteUpCount.parent().bind('click', voteUp);
            voteDownCount.parent().bind('click', voteDown);
        }
    }
</script>
{#<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=6a67875e40f6b41443e2a34157342d0d"></script>#}
<script type="text/javascript">
/*
    var map = new BMap.Map("map");
    var point = new BMap.Point({{ map.content.point.y }}, {{ map.content.point.x }});
    map.centerAndZoom(point,15);
    var myKeys = ["酒店", "加油站"];
    var local = new BMap.LocalSearch(map, {
      renderOptions:{map: map}
    });
    local.setPageCapacity(15);
    local.searchInBounds(myKeys, map.getBounds());
    */
</script>
{% endblock %}