{% extends 'base.html' %}
{% load staticfiles %}
{% block head_wrap %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}
{% block body_wrap %}
    <div class="page">
        <div class="page-region">
            <div style="padding: 20px 0;">
                <div class="" id="page-index">
                    <div class="row">
                        <div class="span12 bg-color-red padding20" style="height: 400px;">
                            <h1 class="fg-color-white" style="font-weight: 900; font-size: 128px; line-height: 128px;">500</h1>
                            <h4 class="fg-color-white">如果你看这个页面，说明你很幸运，赶紧发送邮件联系管理员！！</h4>
                            <h4 class="fg-color-white">管理员邮箱:admin@haochid.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
