<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}-{{ site_name }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $("a").bind('click', function(){
                var a = $(this);
                var href = a.attr('href');
                if(href.indexOf('javascript') == -1 && href.indexOf('#') == -1){
                    // $("body").rotate3Di(180, 500);
                }
            });
        });
    </script>
    {% block head_wrap %}{% endblock %}
</head>
<body class="metrouicss">
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="pull-menu"></span>
            <a href="/"><span class="element brand">
                        <img class="place-left" src="images/logo32.png" style="height: 20px"/>
                        Metro UI CSS <small><?= include("version.phtml")?></small>
                    </span></a>
            <div class="divider"></div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li data-role="dropdown">
                    <a href="#">Scaffolding</a>
                    <ul class="dropdown-menu">
                        <li><a href="global.php">Global styles</a></li>
                        <li><a href="layout.php">Layouts and templates</a></li>
                        <li><a href="grid.php">Grid system</a></li>
                        <li class="divider"></li>
                        <li><a href="responsive.php">Responsive design</a>
                        </li>
                    </ul>
                </li>
                <li data-role="dropdown"><a href="#">Base CSS</a>
                    <ul class="dropdown-menu">
                        <li><a href="typography.php">Typography</a></li>
                        <li><a href="tables.php">Tables</a></li>
                        <li><a href="forms.php">Forms</a></li>
                        <li><a href="buttons.php">Buttons</a></li>
                        <li><a href="images.php">Images</a></li>
                        <li class="divider"></li>
                        <li><a href="icons.php">Icons</a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/olton/Metro-UI-CSS">Source</a></li>
            </ul>
        </div>
    </div>
</div>
{% block body_wrap %}{% endblock %}
{% block script_wrap %}{% endblock %}
</body>
</html>