<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}-{{ site_name }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $("a").bind('click', function(){
                var a = $(this);
                var href = a.attr('href');
                if(href.indexOf('javascript') == -1 && href.indexOf('#') == -1){
                    // $("body").rotate3Di(180, 500);
                }
            });
        });
    </script>
    {% block head_wrap %}{% endblock %}
</head>
<body class="metrouicss">
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="pull-menu"></span>
            <a href="/">
                <span class="element brand">
                    <img class="place-left" src="images/logo32.png" style="height: 20px"/>
                    好吃的
                </span>
            </a>
            <div class="divider"></div>
            <ul class="menu">
                <li><a href="/">首页</a></li>
                <li><a href="/">每日推荐</a></li>
                <li><a href="/">热门</a></li>
                <li><a href="/">最新</a></li>
            </ul>
        </div>
    </div>
</div>
{% block body_wrap %}{% endblock %}
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="element">
                2013, 好吃的网 &copy; by <a href="http://www.haochid.com" class="fg-color-white">www.haochid.com</a>
            </span>
        </div>
    </div>
</div>
{% block script_wrap %}{% endblock %}
</body>
</html>