<!DOCTYPE html>{% load staticfiles %}{% load filter %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if title %}{{ title }}-{% endif %}{{ site_name }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modern-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
        });
        function colorRandom(){
            var colorArray = [
                'bg-color-blue',
                'bg-color-blueDark',
                'bg-color-green',
                'bg-color-greenLight',
                'bg-color-greenDark',
                'bg-color-red',
                'bg-color-yellow',
                'bg-color-orange',
                'bg-color-orangeDark',
                'bg-color-pink',
                'bg-color-pinkDark',
                'bg-color-purple',
                'bg-color-darken',
                'bg-color-magenta',
                'bg-color-teal',
                'bg-color-redLight'
            ];
            var tmpIndex = Math.floor(Math.random()*colorArray.length);
            return colorArray[tmpIndex];
        }
    </script>
    {% block head_wrap %}{% endblock %}
</head>
<body class="metrouicss">
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="pull-menu"></span>
            <a href="/">
                <span class="element brand">
                    <img class="place-left" src="{% static 'images/logo32.png' %}" style="height: 20px"/>
                    好吃的
                </span>
            </a>
            <div class="divider"></div>
            <ul class="menu">
                <li><a href="{% url 'product.views.index' %}">首页</a></li>
                <li><a href="/">每日推荐</a></li>
                <li><a href="{% url 'product.views.hot_index' %}">热门</a></li>
                <li><a href="{% url 'product.views.new_index' %}">新货</a></li>
            </ul>
            <div class="fg-color-white" style="height: 30px; float: right;">
                {% if user|isinst:"user.models.User" %}

                    <a href="{% url 'user.views.account' %}"><span class="fg-color-white" style="line-height: 30px; font-weight: 900;">欢迎您, {{ user.name }}</span></a>
                    {% if user.avatar %}
                        <img width="30" height="30" style="border-radius: 3px;" src="{{ user.avatar }}" />
                    {% endif %}
                {% else %}
                    <a class="fg-color-white" style="line-height: 30px;" href="{% url 'django.contrib.auth.views.login' %}">登录</a> |
                    <a class="fg-color-white" style="line-height: 30px;" href="{% url 'user.views.register' %}">注册</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% block body_wrap %}{% endblock %}
<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="element">
                2013, 好吃的网 &copy; by <a href="http://www.haochid.com" class="fg-color-white">www.haochid.com</a>
            </span>
        </div>
    </div>
</div>
{% block script_wrap %}{% endblock %}
</body>
</html>