{% extends 'base.html' %}
{% load staticfiles %}
{% block head_wrap %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}
{% block body_wrap %}
    <div class="page">
        <div class="page-region">
            <div class="page-region-content">
                <div class="grid">
                    <div class="row">
                        <div class="span4 bg-color-red">
                            <img src="{% static 'images/simple.png' %}" class="place-right" style="margin: 10px;"/>
                            <a href="{% url 'product.views.hot_index' %}">
                                <h2 class="fg-color-white">&nbsp;热门</h2>
                            </a>
                        </div>

                        <div class="span4 bg-color-green">
                            <img src="{% static 'images/grid.png' %}" class="place-right" style="margin: 10px;"/>
                            <a href="{% url 'product.views.new_index' %}">
                                <h2 class="fg-color-white">&nbsp;新货</h2>
                            </a>
                        </div>

                        <div class="span4 bg-color-pink">
                            <img src="{% static 'images/responsive.png' %}" class="place-right" style="margin: 10px;"/>
                            <h2 class="fg-color-white">&nbsp;每日推荐</h2>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="row" id="id_recommend" style="display: none;">
                        <h2>每日推荐</h2>
                    </div>
                    <div class="row" id="id_hot" style="display: none;">
                        <h2>热门</h2>
                    </div>
                    <div class="row" id="id_new" style="display: none;">
                        <h2>新货</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ content.address_detail.city }}

{% endblock %}
{% block script_wrap %}
<script type="text/javascript">
    $(function(){
        getProducts("{% url 'product.views.hot' %}", $("#id_hot"));
        getProducts("{% url 'product.views.new' %}", $("#id_new"));
    });
    function getProducts(url, div){
        $.get(url,function(result){
            if(result.status == 1){
                if(result.data.products.length > 0){
                    var html = '';
                    $.each(result.data.products, function(i ,v){
                        if(i == 0 || i % 3 == 0){
                           html += '<div class="row list">';
                        }
                        html += '<div class="span4">';
                        html += '<div class="image-container '+colorRandom()+'" style="width: 100%">';
                        html += '<div style="height: 200px; overflow: hidden">';
                        html += '<a href="'+ v.url+'">';
                        html += '<img src="'+ v.cover+'">';
                        html += '</a>';
                        html += '</div>';
                        html += '<div class="overlay">';
                        html += '<div class="padding10 tertiary-text">';
                        html += '<a href="'+ v.url+'"><h4 class="fg-color-white">'+ v.title+'</h4></a>';
                        html += '</div></div>';
                        html += '</div></div>';
                        if(i % 3 == 2 || i == result.data.length - 1){
                           html += '</div>';
                        }
                    });
                    $(div).append(html);
                    $(div).show();
                }
            }
        });
    }
</script>
{% endblock %}
